<style>
    #modal-detail {
        opacity: 1 !important;
    }
</style>

<!--<div id="myMember" ng-controller="myMemberController" layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons" ng-app="MyApp" ng-init="initJS()">

</div>-->
<div class="modal fadeIn modal_center" role="dialog" id="modal-detail-my-member" ng-init="onload()" style="animation-delay:10s;">
<!--<div class="modal fade modal_center confirmClose" id="myMember" ng-controller="myMemberController" ng-init="initJS()">-->
    <div class="modal-dialog modal-medium modal-padding" style="width:660px">
        <div class="modal-content requirement-content" style="padding-top: 0px !important">
            <div class="modal-header clearfix">
                <p class="modal_header_title"><span ng-bind="translation.UPDATE_TITLE"></span></p>
                <div class="box_btn_02">
                    <button type="button" class="fullscreen" onclick="fullscreen('modal-detail')"><i class="bowtie-icon bowtie-view-full-screen"></i></button>
                    <button type="button" class="btn_close_02" data-dismiss="modal"><i class="bowtie-icon bowtie-edit-remove"></i></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body-content clearfix">
                    <div class="modal-body-maincontent">
                        <div class="clearfix">
                            <div class="w180 img_over_180 float-left">
                                <div class="droppable-area advancedDropzoneMyMember">
                                    <img id="imgAvatarMyMember" src="/img/no_avatar.png" class="img-inline dz-message img_full" />
                                </div>
                            </div>
                            <div class="w100_180 float-right form-input-group">
                                <div class="box_02 col_2 clearfix">
                                    <div class="item">
                                        <lv-input field="id" element-id="myId" model="data.id" setting="setting" translation="translation" change="" type="text" tab="1"></lv-input>
                                    </div>
                                    <div class="item">
                                        <lv-input field="email" element-id="myEmail" model="data.email" setting="setting" translation="translation" change="" type="text" tab="1"></lv-input>
                                    </div>
                                </div>
                                <div class="box_02 col_2 clearfix">
                                    <div class="item">
                                        <lv-input field="firstName" element-id="myFirstName" model="data.firstName" setting="setting" translation="translation" change="" type="text" tab="1"></lv-input>
                                    </div>
                                    <div class="item">
                                        <lv-input field="lastName" element-id="myLastName" model="data.lastName" setting="setting" translation="translation" change="" type="text" tab="2"></lv-input>
                                    </div>
                                </div>
                                <div class="box_02 col_2 clearfix">
                                    <div class="item">
                                        <lv-datepicker field="birthDay" element-id="myBirthDay" model="data.birthDay" setting="setting" translation="translation" tab="3"></lv-datepicker>
                                    </div>
                                    <div class="item">
                                        <lv-input field="mobilePhone"   element-id="myMobilePhone" model="data.mobilePhone" setting="setting" translation="translation" change="" type="phone" tab="4"></lv-input>
                                    </div>
                                </div>
                                <div class="box_02 col_2 clearfix">
                                    <div class="item">
                                        <lv-select field="province" model="data.address.province" change="ChangeProvince()" setting="setting" translation="translation" tab="9"></lv-select>
                                    </div>
                                    <div class="item">
                                        <lv-select field="district" model="data.address.district" setting="setting" translation="translation" tab="10"></lv-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix">
                            <div class="box_02 clearfix">
                                <div class="item">
                                    <lv-input field="streetAddress" model="data.address.streetAddress" setting="setting" translation="translation" change="" type="text" tab="11"></lv-input>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix login mt-15 mb-15">
                            <ul>
                                <li class="mb-10 float-left" style="margin-right: 60px;"><p class="support"><a href="#">Bạn muốn thay đổi <span>MẬT KHẨU</span></a></p></li>
                                <li><p class="support"><a href="#">Bạn muốn thiết lập <span>THÔNG BÁO</span></a></p></li>
                            </ul>
                        </div>
                        <div class="clearfix">
                            <p style="font-size: 14px;margin: 0;line-height: 1.9em;text-transform: uppercase;">Liên kết với</p>
                            <div style="margin: 15px 0 0 0" ng-repeat="item in data.socials track by $index" class="clearfix">
                                <p class="float-left mr-15 mb-0"><img style="width: 30px; height: auto;" ng-src="{{FindImage(item)}}" /></p>
                                <input type="text" ng-model="data.socials[$index]" class="iput mr-15 input-social" style="width:calc(100% - 90px);float:left;" />
                                <span class="btn_del btn_30 btn_function" ng-click="DeleteSocial(item)"><i class="bowtie-icon bowtie-edit-delete"></i></span>
                            </div>
                            <div class="box_02 clearfix mt-10">
                                <button class="btn btn_save_02" ng-click="AddSocial()"><i class="bowtie-icon bowtie-math-plus mr_5"></i>{{translation.ADD_LINK}}</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button id="btnSaveClose" ng-click="save()" type="button" class="btn btn_save_02" tabindex="13" click-Once><i class="bowtie-icon bowtie-save"></i><span ng-bind="::translation.BTN_SAVE_CLOSE">Lưu & đóng</span></button>
            </div>
        </div>
    </div>
</div>