<script src="../../../js/jquery.ui.touch-punch.js"></script>
<div id="kanban" ng-controller="kanbanController" ng-init="onLoad()">
    <div class="white_box" style="background-color:#edf1f5;padding:0">
        <ul class="nav nav-tabs" id="main_tab_01" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="/pm/sprintPlan?pjid={{menuParams.pjid}}{{areaUrl}}{{sprUrl}}&module=pj" id="tab_01-tab" data-toggle="tab" data-target="#tabSprintPlan"
                   role="tab" aria-controls="tab_01" aria-selected="true">Sprint Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/pm/kanban?pjid={{menuParams.pjid}}{{areaUrl}}{{sprUrl}}&module=pj" id="tab_02-tab" data-toggle="tab" data-target="#tabKanban"
                   role="tab" aria-controls="tab_02" aria-selected="false">Kanban</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pm/sprintReview?pjid={{menuParams.pjid}}{{areaUrl}}{{sprUrl}}&module=pj" id="tab_03-tab" data-toggle="tab" data-target="#tabSprintReview"
                   role="tab" aria-controls="tab_03" aria-selected="false">Sprint Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pm/teamCapacity?pjid={{menuParams.pjid}}{{areaUrl}}{{sprUrl}}&module=pj" id="tab_04-tab" data-toggle="tab" data-target="#tabTeamCapacity"
                   role="tab" aria-controls="tab_04" aria-selected="false">Team Capacity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pm/sprintReport?pjid={{menuParams.pjid}}{{areaUrl}}{{sprUrl}}&module=pj" id="tab_05-tab" data-toggle="tab" data-target="#tabSprintReport"
                   role="tab" aria-controls="tab_05" aria-selected="false">Sprint Report</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content tab-content-sprint">
            <img class="page-loader" style="display:none;" />
            <div class="tab-pane" style="height:100%;width:100%" id="tabSprintPlan" role="tabpanel" aria-labelledby="tab_01-tab">

            </div>
            <div class="tab-pane active" style="height:100%;width:100%" id="tabKanban" role="tabpanel" aria-labelledby="tab_02-tab">


                <div class="tb_kanban">
                    <div class="header_kanban clearfix">
                        <div class="clearfix">

                            <div class="th clearfix" style="display: flex; align-items: center">
                                <span ng-class="isOpen? 'bowtie-icon bowtie-view-list-tree':'bowtie-icon bowtie-view-list'" ng-click="expandedAll()" style="padding: 0 3px;font-weight: normal;border-bottom: 1px solid #ddd;line-height: 32px;"></span>
                                <lv-select field="groupKanban" model="groupKanban" setting="setting" tab="1" change="ChangeGroupBy()" class="select_pp"></lv-select>
                                <div class="select_team_member" ng-show="groupKanban==1">
                                    <div class="active dropdown" aria-current="page">
                                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="bowtie-icon bowtie-user"></i>
                                        </a>
                                        <ul class="dropdown-menu mailbox animated">
                                            <li>
                                                <div class="message-center">
                                                    <a href="" ng-click="gotoAnchor('unassign')" ng-if="groupKanban==1" ng-class="list1.parent.assign == currentPeople? 'active':''">
                                                        <div class="mail-content clearfix">
                                                            <img src="/api/system/viewfile?id={{list1.parent.assignRelated == null ? null : list1.parent.assignRelated.avatarThumb}}&def=/img/no_avatar.png" alt="img user" class="img-circle ic_flag">
                                                            <span class="mail-desc">{{list1.parent.assignRelated == null ? 'Unassigned' : list1.parent.assignRelated.displayName}}</span>
                                                        </div>
                                                    </a>
                                                    <a href="" ng-click="gotoAnchor(data.parent.assign)" ng-repeat="data in list2" ng-if="groupKanban==1" ng-class="data.parent.assign == currentPeople? 'active':''">
                                                        <div class="mail-content clearfix">
                                                            <img src="{{'/api/system/viewfile?id='+data.parent.assignRelated.avatarThumb+'&def=/img/no_avatar.png'}}" alt="img user" class="img-circle ic_flag">
                                                            <span class="mail-desc">{{data.parent.assignRelated.displayName}}</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                            <!--<div class="th" ng-repeat="item in setting.valuelist.state"><span> {{item.text[currentLanguage]}} </span>  <span class="totalRemaining" ng-repeat="item2 in total_Remaining" ng-if="item.id==item2.state"> &nbsp; (<span id="{{item.id}}">{{item2.remaining}}</span> Hrs)</span></div>-->
                            <div class="th" ng-repeat="item in setting.valuelist.stateKanban"><span> {{item.text}} </span>  <span class="totalRemaining" ng-repeat="item2 in total_Remaining" ng-if="item.id==item2.state"> &nbsp; (<span id="{{item.id}}">{{item2.remaining}}</span> Hrs)</span></div>
                        </div>
                    </div>
                    <div class="body_kanban clearfix">
                        <!--non parent-->
                        <div id="{{groupKanban==0?'unparent':'unassign'}}" class="tr clearfix" ng-show="list1.listTaskBug.length > 0">
                            <i class="bowtie-icon bowtie-toggle-tree-expanded btn_expanded cus" tabindex="0" title="Collapse this row" ng-click="expanded($event)"></i>
                            <div class="td box_expanded" style="display:contents" ng-show="collapse.indexOf(groupKanban==0?'unparent':'unassign')!=-1">
                                <p class="content" style="padding: 0 5px">
                                    <span ng-show="groupKanban == 1" class="img_user_tb img_over" style="background-image: url('{{'/api/system/viewfile?id=&def=/img/no_avatar.png'}}')"></span>
                                    <span style="display: inline-block;width: 250px;line-height:35px;">{{groupKanban==0? 'Unparent' : 'Unassigned'}}</span>
                                    <span style="display: inline-block;width: 110px">{{list1.countState.new.count}} not started</span>
                                    <span style="display: inline-block;width: 100px;font-weight:normal">({{list1.countState.new.remaining}} hrs)</span>
                                    <span style="display: inline-block;width: 100px;"> {{list1.countState.active.count}} in progress</span> ({{list1.countState.active.remaining}} hrs)
                                </p>
                            </div>
                            <div class="parent" ng-show="collapse.indexOf(groupKanban==0?'unparent':'unassign')==-1">
                                <div ng-show="groupKanban == 0">
                                    <div class="box_violet box_kanban clearfix">
                                        <p class="content" title="Unparent">Unparent</p>
                                        <div class="box_kanban_footer clearfix">
                                            <p class="float-left mb-0 cut_txt"><span class="img_user_tb img_over" style="background-image: url('/api/system/viewfile?id=null&def=/img/no_avatar.png')"></span><span class="txt_user_tb">Unassigned</span></p>
                                            <p class="float-right mb-0"><span class="status"><i class="bowtie-icon bowtie-status-waiting"></i>New</span></p>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="groupKanban == 1" style="display:table;">
                                    <span title="Unassigned" class="img_user_tb img_over" style="background-image: url('/api/system/viewfile?id=null&def=/img/no_avatar.png')"></span><span style="display:table-cell;vertical-align:middle;">Unassigned</span>
                                </div>
                            </div>
                            <div ng-show="collapse.indexOf(groupKanban==0?'unparent':'unassign')==-1" class="td column column_nonparent" ng-repeat="state in setting.valuelist.stateKanban" data-parentid="null" data-assign="null" data-assignrelated="null" data-column="{{state.id}}" ng-init="loadKanbanColumn(true,$last)">
                                <div data-indexChild="{{$index}}" data-indexParent={{$parent.$parent.$index}} data-type="1" ng-repeat="child in list1.listTaskBug | filter:{ state: state.id}" data-childid="{{child.id}}" ng-class="blockBox(child.type)" class="box_kanban clearfix">
                                    <p class="content" title="{{child.name}}" ng-click="editblock(0,child.id, 1)" style="cursor:pointer;"><span class="txt_bold">{{child.no}}</span> - {{child.name}}</p>
                                    <div class="box_kanban_footer clearfix">
                                        <p class="float-left mb-0 cut_txt"><span class="img_user_tb img_over" style="background-image: url('{{'/api/system/viewfile?id='+ child.assignRelated.avatarThumb + '&def=/img/no_avatar.png'}}')"></span><span class="txt_user_tb">{{child.assignRelated == null ? 'Unassigned' :child.assignRelated.displayName}}</span></p>
                                        <p class="float-right mb-0"><span class="status"><i class="bowtie-icon bowtie-status-waiting"></i>{{child.remaining}}</span></p>
                                    </div>
                                </div>
                                <div data-parentTB="null" ng-show="$first && groupKanban==0" class="btn_kanban btn_add btn_33 bowtie-icon bowtie-math-plus" ng-click="addTaskBug($event)">
                                    <!--<i class="bowtie-icon bowtie-math-plus"></i>-->
                                </div>
                            </div>

                        </div>

                        <!--parent-->
                        <div id="{{groupKanban==0 ? data.parent.id :data.parent.assign}}" class="tr clearfix" ng-repeat="data in list2">
                            <i class="bowtie-icon bowtie-toggle-tree-expanded btn_expanded cus" tabindex="0" title="Collapse this row" ng-click="expanded($event)"></i>
                            <div class="td box_expanded" style="display:contents" ng-show="collapse.indexOf(groupKanban==0 ? data.parent.id :data.parent.assign)!=-1">
                                <p class="content" ng-show="groupKanban == 0">
                                    <span style="display: inline-block;margin-right: 10px;line-height:35px;width: 330px;float: left" class="txt_cut">{{data.parent.name}}</span>
                                    <span style="display: inline-block;line-height:35px">{{data.countState.new.count}} not started</span>
                                    <span style="display: inline-block;margin-right: 50px;line-height:35px">({{data.countState.new.remaining}} hrs)</span>
                                    <span style="display: inline-block;line-height:35px"> {{data.countState.active.count}} in progress</span> ({{data.countState.active.remaining}} hrs)
                                </p>
                                <p class="content" ng-show="groupKanban == 1" style="padding: 0 5px">
                                    <span class="img_user_tb img_over" style="background-image: url('{{'/api/system/viewfile?id='+ data.parent.assignRelated.avatarThumb + '&def=/img/no_avatar.png'}}')"></span>
                                    <span style="display: inline-block;width: 250px;line-height:35px;">{{data.parent.assignRelated.displayName}}</span>
                                    <span style="display: inline-block;width: 110px">{{data.countState.new.count}} not started</span>
                                    <span style="display: inline-block;width: 100px;font-weight:normal">({{data.countState.new.remaining}} hrs)</span>
                                    <span style="display: inline-block;width: 100px;"> {{data.countState.active.count}} in progress</span> ({{data.countState.active.remaining}} hrs)
                                </p>
                            </div>

                            <div class="parent" ng-show="collapse.indexOf(groupKanban==0 ? data.parent.id :data.parent.assign)==-1">
                                <div ng-show="groupKanban == 0">
                                    <div class="box_violet box_kanban clearfix" data-type="3" data-indexParent="{{$index}}">
                                        <!--<p class="content" title="{{data.parent.name}}" ng-click="editblock($index, 0 , 3)" style="cursor:pointer;"><span class="txt_bold">{{data.parent.no}}</span> - {{data.parent.name}}</p>-->

                                        <p class="content" title="{{data.parent.name}}" style="cursor:pointer;">


                                            <span class="txt_bold">{{data.parent.no}}</span> - {{data.parent.name}}
                                        </p>
                                        <div class="box_kanban_footer clearfix">
                                            <p class="float-left mb-0 cut_txt"><span class="img_user_tb img_over" style="background-image: url('{{'/api/system/viewfile?id='+ data.parent.assignRelated.avatarThumb + '&def=/img/no_avatar.png'}}')"></span><span class="txt_user_tb">{{data.parent.assignRelated == null ? 'Unassigned' : data.parent.assignRelated.displayName}}</span></p>
                                            <p class="float-right mb-0"><span class="status"><i class="bowtie-icon bowtie-status-waiting"></i>{{data.parent.state}} </span></p>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="groupKanban == 1" style="display:table;">
                                    <span title="{{data.parent.assign}}" class="img_user_tb img_over" style="background-image: url('{{'/api/system/viewfile?id='+ data.parent.assignRelated.avatarThumb+ '&def=/img/no_avatar.png'}}')"></span><span style="display:table-cell;vertical-align:middle;">{{data.parent.assignRelated == null ? 'Unassigned' : data.parent.assignRelated.displayName}}</span>
                                </div>
                            </div>
                            <div ng-show="collapse.indexOf(groupKanban==0 ? data.parent.id :data.parent.assign)==-1" ng-repeat="state in setting.valuelist.stateKanban" class="td column" data-parentid="{{data.parent.id}}" data-assign="{{data.parent.assign}}" data-assignrelated="{{data.parent.assignrelated}}" data-column="{{state.id}}" ng-init="loadKanbanColumn($parent.$last,$last)">
                                <div data-type="2" data-indexChild={{$index}} data-indexParent={{$parent.$parent.$index}} ng-repeat="child in data.listTaskBug | filter:{ state: state.id }" data-childid="{{child.id}}" ng-class="blockBox(child.type,child.approved)" class="box_kanban clearfix">
                                    <p class="content" title="{{child.name}}" ng-click="editblock($parent.$parent.$index, child.id, 2)" style="cursor:pointer;"><span class="txt_bold">{{child.no}}</span> - {{child.name}}</p>
                                    <div class="box_kanban_footer clearfix">
                                        <p class="float-left mb-0 cut_txt"><span class="img_user_tb img_over" style="background-image: url('{{'/api/system/viewfile?id=' + child.assignRelated.avatarThumb + '&def=/img/no_avatar.png'}}')"></span><span class="txt_user_tb">{{child.assignRelated == null ? 'Unassigned' : child.assignRelated.displayName }}</span></p>
                                        <p class="float-right mb-0"><span class="status"><span class="priority" ng-if="child.type=='bug'" ng-class="priorityStyle(child)"><i class="bowtie-icon bowtie-square"></i></span> <i class="bowtie-icon bowtie-status-waiting"></i>{{child.remaining}}</span></p>
                                    </div>
                                </div>
                                <div data-parentTB="{{data.parent.id}}" data-assignTB="{{data.parent.assign}}" ng-show="$first && groupKanban==0" class="btn_kanban btn_add btn_33 bowtie-icon bowtie-math-plus" ng-click="addTaskBug($event)">
                                    <!--<i class="bowtie-icon bowtie-math-plus"></i>-->
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="tab-pane" style="height:100%;width:100%" id="tabSprintReview" role="tabpanel" aria-labelledby="tab_03-tab">

            </div>
            <div class="tab-pane" style="height:100%;width:100%" id="tabTeamCapacity" role="tabpanel" aria-labelledby="tab_04-tab">

            </div>
        </div>
    </div>

    <!--context menu-->
    <div id="contextMenuTB" class="context-menu">
        <ul class="context-menu_items">
            <li class="epic context-menu_item no-padding" ng-if="approveStatus == true">
                <a ng-click="add('task')" class="context-menu_link type_task" title="Add task">Task</a>
            </li>
            <li class="function context-menu_item no-padding">
                <a ng-click="add('bug')" class="context-menu_link type_bug" title="Add bug">Bug</a>
            </li>
        </ul>
    </div>

    <!-- Modal (Modal detail)-->
    <div lv-include path="app/pm/workItem/workItemForm" name="workItemForm"></div>

</div>