<div id="inventoryImport" ng-controller="inventoryImportController" class="pos">
    <div class="white_box">
        <div class="box_filter clearfix">
            <ul class="box_btn mb-0 d-flex justify-content-start">
                <li class="w_15 select2_op2">
                    <div class="btn_search">
                        <div class="input-group">
                            <input type="text" id="full_text_filter" class="form-control" placeholder="{{translation.SEARCH}}" ng-keypress="searchFull($event)" tab="1">
                            <span class="input-group-btn">
                                <button class="btn" type="button" ng-click="searchFull()"><i class="bowtie-icon bowtie-search"></i></button>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="w_15 select2_op2">
                    <lv-select element-id="objectTypeFilter" field="objectType" model="objectTypeFilter" setting="setting" change="changeObjectTypeFilter()" translation="translation" tab="1" label=" " placeholder="{{translation.OBJECTTYPE}}"></lv-select>
                </li>
                <li class="w_15 select2_op2">
                    <lv-combobox field="cmbStoreId" option="cmbStoreId" model="storeFilter" tab="2" label="">
                    </lv-combobox>
                </li>
                <li class="w_15 select2_op2">
                    <lv-select element-id="timeMark" field="timeMark" model="timeMark" setting="setting" change="changeTimeMark()" translation="translation" tab="1" nolabel="hidden" allowclear="true" placeholder="{{translation.TIMEMARK}}"></lv-select>
                </li>
                <li class="w_15 select2_op2">
                    <lv-datepicker field="fromDatexxx" model="fromDate" setting="setting" translation="translation" nolabel="hidden" tab="3" placeholder="{{translation.FROMDATE}}"></lv-datepicker>
                </li>
                <li class="w_15 select2_op2">
                    <lv-datepicker field="toDatexxx" model="toDate" setting="setting" translation="translation" nolabel="hidden" tab="4" placeholder="{{translation.TODATE}}"></lv-datepicker>
                </li>
                <li>
                    <button type="button" class="bg_blue_02 btn_filter w_100" ng-click="searchObject()">{{translation.FILTER}}</button>
                </li>
            </ul>
        </div>
        <div class="content_6_4 clearfix">
            <div class="content_4 mr_10 float-left">
                <dl class="wrapper">
                    <dt>
                        <a class="title_02 bg_gray_01 pos_re">
                            <span>{{translation.LISTIMPORT}}</span>
                        </a>
                    </dt>
                    <dd class="pos_re" style="height: calc(100% - 30px)">
                        <div class="box_01 scroll" style="height: calc(100% - 50px)">
                            <div id="{{item.invImport.id}}" ng-repeat="item in listData" class="item" ng-class="classActive(item.invImport.id)" ng-click="changeRow(item.invImport)" ng-dblclick="edit()">
                                <ul class="clearfix">
                                    <li class="float-left w-50 txt_cut"><a class="link">{{item.invImport.code}}</a></li>
                                    <li class="float-right">{{item.invImport.docDate | date :"dd/MM/yyyy"}} - {{item.invImport.docTime | date: "HH:mm"}}</li>
                                </ul>
                                <p class="txt_cut mb_5" style="height: 20px;">{{item.invImport.memo}}</p>
                                <ul class="clearfix">
                                    <li class="float-left"><b>SL: {{item.sumQuantity | number}}</b></li>
                                    <li class="float-right"><b>{{item.sumAmount | number}}</b></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box_footer">
                            <div>
                                <b>{{translation.TOTALPAGE}}: <span class="link">{{totalItem}}</span></b>
                            </div>
                            <div style="font-weight: bold; position: absolute; right: 125px">
                                {{translation.PAGE}}: <input id="pageInput" type="number" name="page" value="{{pageCurrent}}" /> / {{totalPage}}
                            </div>
                            <div class="button-left-wrapper">
                                <div class="btn_add_02 mr_5" title="Previous" ng-click="prev(pageCurrent -1)"><i class="bowtie-icon bowtie-chevron-left-light"></i></div>
                                <div class="btn_add_02" title="Next" ng-click="next(pageCurrent +1)"> <i class="bowtie-icon bowtie-chevron-right-light"></i></div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="content_6 float-right">
                <div class="modal-02 clearfix mb_20">
                    <dl class="mb-0 mr-20" style="flex-grow: 1; flex-basis: 0; width: calc(50% - 10px)">
                        <dt><a class="title_02 bg_gray_01" data-toggle="collapse" data-target="#multiCollapse_01" aria-expanded="true" aria-controls="multiCollapse_01"><i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow mr_5"></i>Thông tin chung</a></dt>
                        <dd>
                            <div class="multi-collapse show" id="multiCollapse_01" aria-expanded="true">
                                <div class="d-flex w_100">
                                    <div class="col-left">
                                        <!-- <p>Ngành hàng:</p>-->
                                        <p>{{translation.OBJECTTYPE}}:</p>
                                        <p>{{translation.OBJECTID}}:</p>
                                        <p>{{translation.DELIVERER}}:</p>
                                        <p>{{translation.MEMO}}:</p>
                                    </div>
                                    <div class="col-right">
                                        <!-- <p class="txt_cut">Hàng hóa</p>-->
                                        <p class="txt_cut">{{objectType}}</p>
                                        <p class="txt_cut">{{objectName}}</p>
                                        <p class="txt_cut">{{defaultFirstData.deliverer}}</p>
                                        <p class="txt_cut">{{defaultFirstData.memo}}</p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl class="mb-0" style="flex-grow: 1; flex-basis: 0">
                        <dt><a class="title_02 bg_gray_01" data-toggle="collapse" data-target="#multiCollapse_02" aria-expanded="true" aria-controls="multiCollapse_02"><i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow mr_5"></i>Chứng từ</a></dt>
                        <dd>
                            <div class="multi-collapse show" id="multiCollapse_02" aria-expanded="true">
                                <div class="d-flex w_100">
                                    <div class="col-left">
                                        <p>{{translation.CODE}}:</p>
                                        <p>{{translation.DOCDATE}}:</p>
                                        <p>{{translation.DOCTIME}}:</p>
                                        <p>{{translation.STOREID}}:</p>
                                    </div>
                                    <div class="col-right">
                                        <p class="txt_cut">{{defaultFirstData.code}}</p>
                                        <p class="txt_cut">{{defaultFirstData.docDate | date :"dd/MM/yyyy"}}</p>
                                        <p class="txt_cut">{{defaultFirstData.docTime | date: "HH:mm"}}</p>
                                        <p class="txt_cut">{{defaultFirstData.store.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="modal-01 clearfix wrapper">
                    <dl class="mb-0 wrapper">
                        <dt><a class="title_02 bg_gray_01" data-toggle="collapse" data-target="#multiCollapse_03" aria-expanded="true" aria-controls="multiCollapse_03"><i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow mr_5"></i>{{translation.DETAILS}}</a></dt>
                        <dd style="height: calc(100% - 270px)">
                            <div class="multi-collapse show wrapper" id="multiCollapse_03" aria-expanded="true">
                                <div class="gridWrapper">
                                    <div id="grvInventoryImport" class="control-grid wrapper"></div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal (detail)-->
    <div class="modal fade modal_center confirmClose" style="" id="modal-detail" ng-init="initModal()">
        <div class="modal-dialog" style="height:100%;width:1200px;">
            <div class="modal-content">
                <div class="modal-header">
                    <p style="font-size:16px;margin:0;line-height:1.9em;" class="float-left"><span ng-bind="(action == 'add' || action == 'addChild') ? translation.MODAL_DETAIL_ADDTITLE : translation.MODAL_DETAIL_EDITTITLE"></span></p>
                    <div class="box_btn_02">
                        <button type="button" class="fullscreen" onclick="fullscreen('modal-detail')"><i class="bowtie-icon bowtie-view-full-screen"></i></button>
                        <button type="button" class="btn_close_02" data-dismiss="modal"><i class="bowtie-icon bowtie-edit-remove"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-body-maincontent autoHeight">
                        <div class="form-input-group">
                            <div class="box_02 col_2 clearfix mb_15">
                                <div class="pos_item haveButton">
                                    <lv-select field="objectType" model="data.objectType" setting="setting" change="changeObjectType()" translation="translation" tab="1"></lv-select>
                                    <a ng-click="addObject()" class="btn_add btn_30 "><i class="bowtie-icon bowtie-math-plus"></i></a>
                                </div>
                                <div class="pos_item">
                                    <lv-input field="code" model="data.code" setting="setting" translation="translation" change="" type="text" tab="2"></lv-input>
                                </div>

                            </div>
                            <div class="box_02 col_2 clearfix mb_15">
                                <div class="pos_item">
                                    <lv-combobox element-id="cmbObject" field="objectId" option="cmbObject" model="data.objectId" tab="3" label="{{translation.OBJECTID}}">
                                    </lv-combobox>
                                </div>
                                <div class="pos_item">
                                    <lv-datepicker field="docDate" model="data.docDate" setting="setting" translation="translation" tab="4"></lv-datepicker>
                                </div>


                            </div>
                            <div class="box_02 col_2 clearfix mb_15">
                                <div class="pos_item">
                                    <lv-input field="deliverer" model="data.deliverer" setting="setting" translation="translation" change="" type="text" tab="5"></lv-input>
                                </div>
                                <div class="pos_item">
                                    <label>{{translation.DOCTIME}}</label>
                                    <input id="docTime" type="time" name="name" />
                                </div>


                            </div>
                            <div class="box_02 col_2 clearfix mb_15">
                                <div class="pos_item">
                                    <lv-input field="memo" model="data.memo" setting="setting" translation="translation" change="" type="text" tab="6"></lv-input>
                                </div>
                                <div class="pos_item">
                                    <lv-combobox field="storeId" option="cmbStoreId" model="data.storeId" tab="7" setting="setting" required="true" label="{{translation.STOREID}}">
                                    </lv-combobox>
                                </div>

                            </div>
                            <div class="box_02 col_1 clearfix mb_15">
                                <div class="pos_item">
                                    <label>Nhập barcode</label>
                                    <div class="switch" ng-class="barcodeArea ? 'change' : ''" ng-click="showBarcodeArea()" style="width: 60px">
                                        <input type="checkbox">
                                        <p class="slider mb-0"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="box_02 col_2 clearfix mb_15" ng-show="barcodeArea">
                                <div class="pos_item pos_re">
                                    <label></label>
                                    <input id="inputBarcode" type="number" name="name" ng-model="inputBarcode" value="" style="width: calc(100% - 170px) !important; height: 30px" />
                                    <img src="/images/QRcode.png" style="width: 20px;right: 5px;position: absolute;" />
                                </div>
                                <div class="pos_item pos_re">
                                    <input type="number" name="name" value="" ng-model="inputQuantity" class="mr_20" style="width: 100px !important;" />
                                    <button class="btn btn_save_02" ng-click="importItem()">Nhập</button>
                                </div>
                            </div>
                        </div>

                        <div class="box_content wrapper" style="height: calc(100% - 260px)">
                            <div class="title_01 bg_blue_01" style="position: relative">
                                <span>Thông tin mặt hàng</span>
                                <ul class="box_btn mb-0" style="right: 0;position: absolute;bottom: 5px;">
                                    <li><a id="seachButton" class="btn-small green" style="text-transform: none" ng-click="searchAdvance()"><i class="bowtie-icon bowtie-search mr_5"></i>Tìm nâng cao (F3)</a></li>
                                    <li><a title="{{translation.BTN_ADD}}" ng-click='addRow(null,null,"insertRow")' class="btn_add btn_30" data-toggle="modal" data-target="#myModal"><i class="bowtie-icon bowtie-math-plus"></i></a></li>
                                    <li><a title="{{translation.BTN_DELETE}}" ng-click="deleteRow()" class="btn_del btn_30"><i class="bowtie-icon bowtie-edit-remove"></i></a></li>
                                </ul>
                            </div>

                            <div class="gridWrapper">
                                <div id="grvItemDetail" class="control-grid wrapper"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_save_02" id="btnSave" ng-click="save()" click-Once><i class="fa fa-save"></i> <span ng-bind="globalTranslation.BTN_SAVE">Save</span></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal item import-->
    <div class="modal fade modal_center confirmClose" style="" id="modal-item-import" ng-init="initModal()">
        <div class="modal-dialog" style="width:1100px">
            <div class="modal-content">
                <div class="modal-header">
                    <p style="font-size:16px;margin:0;line-height:1.9em;" class="float-left"><span ng-bind="translation.MODAL_IMPORT_TITLE"></span></p>
                    <div class="box_btn_02">
                        <button type="button" class="fullscreen" onclick="fullscreen('modal-item-import')"><i class="bowtie-icon bowtie-view-full-screen"></i></button>
                        <button type="button" class="btn_close_02" data-dismiss="modal"><i class="bowtie-icon bowtie-edit-remove"></i></button>
                    </div>
                </div>
                <div class="modal-body" style="min-height:260px">
                    <div class="modal-body-maincontent">
                        <div class="box_filter clearfix"style="display: block">
                            <ul class="box_btn mb-0 d-flex justify-content-start">
                                <li class="w_15 select2_op2">
                                    <div class="btn_search">
                                        <div class="input-group">
                                            <input type="text" id="full_text_filter2" class="form-control" placeholder="{{translation.SEARCHIMPORT}}" ng-keypress="searchItemFull($event)" tab="1">
                                            <span class="input-group-btn">
                                                <button class="btn" type="button" ng-click="searchItemFull()"><i class="bowtie-icon bowtie-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </li>

                                <li class="select2_op2">
                                    <lv-combobox element-id="cmbFieldFilter" field="fieldFilter" option="cmbFieldFilter" model="fieldFilter" change="changeFieldFilter()" tab="2" label=" ">
                                    </lv-combobox>
                                </li>
                                <li class="select2_op2">                                   
                                    <lv-select element-id="cmbGroupFilter" field="groupFilter" model="groupFilter" setting="setting" tab="3" nolabel="hidden" allowclear="true" placeholder="{{translation.GROUPID}}">
                                    </lv-select>
                                </li>
                                <li>
                                    <button type="button" class="bg_blue_02 btn_filter w_100" ng-click="searchItemImport()">{{translation.FILTER}}</button>
                                </li>
                            </ul>
                        </div>
                        <div class="gridWrapper" style="height:100%;">
                            <div id="grvItemImport" class="control-grid" style="width: 100%; height: 420px;"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_save_02" id="btnSave" ng-click="saveSearchItemImport()" click-Once><i class="fa fa-save"></i> <span ng-bind="globalTranslation.BTN_SAVE">Save</span></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal object -->
    <div class="modal fadeIn modal_center" role="dialog" id="modal-object-detail" ng-init="onloadModalVendor()" style="animation-delay:10s;">
        <div class="modal-dialog modal-medium modal-padding" style="width: 800px">
            <div class="modal-content requirement-content" style="padding-top: 0px !important">
                <div class="modal-header clearfix">
                    <p style="font-size:16px;margin:0;line-height:1.9em;" class="float-left"><span ng-bind="translation.MODAL_DETAIL_ADDTITLE"></span></p>
                    <div class="box_btn_02">
                        <button type="button" class="fullscreen" onclick="fullscreen('modal-object-detail')"><i class="bowtie-icon bowtie-view-full-screen"></i></button>
                        <button type="button" class="btn_close_02" data-dismiss="modal"><i class="bowtie-icon bowtie-edit-remove"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content clearfix">
                        <div class="modal-body-maincontent clearfix">
                            <div ng-show="action=='1'">
                                <div class="form-input-group">
                                    <div class="box_02 col_2 clearfix mb_15">
                                        <div class="pos_item" style="float: none; width: calc(100% - 170px); margin-left: 170px">
                                            <div id="radioKind" class="d-flex" style="outline: none" tabindex="1">
                                                <label class="container" ng-click="changeKind('1')" style="width: fit-content !important">
                                                    Cá nhân
                                                    <input type="radio" checked="checked" name="radio" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container" ng-click="changeKind('2')" style="width: fit-content !important">
                                                    Doanh nghiệp
                                                    <input type="radio" name="radio" value="2">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_02 col_1 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-input field="codeVendor" model="dataVendor.code" setting="setting" translation="translation" change="" type="text" tab="10"></lv-input>
                                        </div>
                                    </div>
                                    <div class="box_02 col_1 clearfix mb_15">
                                        <div class="pos_item" style="float: none">
                                            <lv-input field="nameVendor" model="dataVendor.name" setting="setting" translation="translation" change="" type="text" tab="11"></lv-input>
                                        </div>
                                    </div>
                                    <div class="box_02 col_1 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-input field="primaryStreetVendor" model="dataVendor.primaryStreet" setting="setting" translation="translation" change="" type="text" tab="12"></lv-input>
                                        </div>
                                    </div>
                                    <div class="box_02 col_1 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-input field="primaryPhoneVendor" model="dataVendor.primaryPhone" setting="setting" translation="translation" change="" type="text" tab="13"></lv-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="action=='2'">
                                <div class="form-input-group">
                                    <div class="box_02 col_2 clearfix mb_15">
                                        <div class="pos_item" style="float: none; width: calc(100% - 170px); margin-left: 170px">
                                            <div id="radioKind" class="d-flex" style="outline: none" tabindex="1">
                                                <label class="container" ng-click="changeKind('1')" style="width: fit-content !important">
                                                    Cá nhân
                                                    <input type="radio" checked="checked" name="radio" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="container" ng-click="changeKind('2')" style="width: fit-content !important">
                                                    Doanh nghiệp
                                                    <input type="radio" name="radio" value="2">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_02 col_2 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-input field="codeCustomer" model="dataCustomer.code" setting="setting" translation="translation" change="" type="text" tab="14"></lv-input>
                                        </div>
                                        <div class="pos_item">
                                            <lv-input field="nameCustomer" model="dataCustomer.name" setting="setting" translation="translation" change="" type="text" tab="15"></lv-input>
                                        </div>
                                    </div>
                                    <div class="box_02 col_2 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-datepicker field="birthDayCustomer" model="dataCustomer.birthDay" setting="setting" translation="translation" tab="16"></lv-datepicker>
                                        </div>
                                        <div class="pos_item">
                                            <div class="radio">
                                                <div class="form-group">
                                                    <label><span>{{translation.GENDER}}</span></label>
                                                    <span><span class="size-per-80"></span></span>
                                                    <div id="radioGender" class="d-flex" style="justify-content: space-between; width: calc(100% - 170px)" tabindex="17">
                                                        <label class="container w_30" ng-click="changeGender('1')">
                                                            Nam
                                                            <input type="radio" checked="checked" name="radio" value="1">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <label class="container w_30" ng-click="changeGender('2')">
                                                            Nữ
                                                            <input type="radio" name="radio" value="2">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <label class="container w_30" ng-click="changeGender('3')">
                                                            Khác
                                                            <input type="radio" name="radio" value="3">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_02 col_2 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-input field="primaryPhoneCustomer" model="dataCustomer.primaryPhone" setting="setting" translation="translation" change="" type="text" tab="18"></lv-input>
                                        </div>
                                        <div class="pos_item">
                                            <lv-input field="identificationNoCustomer" element-id="identificationNo" model="dataCustomer.identificationNo" setting="setting" translation="translation" change="" type="text" tab="19"></lv-input>
                                        </div>
                                    </div>
                                    <div class="box_02 col_1 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-input field="primaryStreetCustomer" model="dataCustomer.primaryStreet" setting="setting" translation="translation" change="" type="text" tab="20"></lv-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="action=='3'">
                                <div class="form-input-group">
                                    <div class="box_02 col_2 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-input field="codeEmployee" model="dataEmployee.code" setting="setting" translation="translation" change="" type="text" tab="21"></lv-input>
                                        </div>
                                        <div class="pos_item">
                                            <lv-input field="phoneEmployee" model="dataEmployee.phone" setting="setting" translation="translation" change="" type="text" tab="22"></lv-input>
                                        </div>
                                    </div>
                                    <div class="box_02 col_2 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-input field="firstNameEmployee" model="dataEmployee.firstName" setting="setting" translation="translation" change="" type="text" tab="23"></lv-input>
                                        </div>
                                        <div class="pos_item">
                                            <lv-input field="lastNameEmployee" model="dataEmployee.lastName" setting="setting" translation="translation" change="" type="text" tab="24"></lv-input>
                                        </div>
                                    </div>
                                    <div class="box_02 col_2 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-datepicker field="birthDayEmployee" model="dataEmployee.birthDay" setting="setting" translation="translation" tab="25"></lv-datepicker>
                                        </div>
                                        <div class="pos_item">
                                            <div class="radio">
                                                <div class="form-group">
                                                    <label><span>{{translation.GENDER}}</span></label>
                                                    <span><span class="size-per-80"></span></span>
                                                    <div id="radioGender" class="d-flex" style="justify-content: space-between; width: calc(100% - 170px)" tabindex="26">
                                                        <label class="container w_30" ng-click="changeGender('1')">
                                                            Nam
                                                            <input type="radio" checked="checked" name="radio" value="1">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <label class="container w_30" ng-click="changeGender('2')">
                                                            Nữ
                                                            <input type="radio" name="radio" value="2">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                        <label class="container w_30" ng-click="changeGender('3')">
                                                            Khác
                                                            <input type="radio" name="radio" value="3">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box_02 col_1 clearfix mb_15">
                                        <div class="pos_item">
                                            <lv-input field="primaryStreetEmployee" model="dataEmployee.primaryStreet" setting="setting" translation="translation" change="" type="text" tab="30"></lv-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <!-- <button id="btnSaveContinue" ng-if="action=='add'" ng-click="saveAndContinue()()" type="button" class="btn btn_save_02" tabindex="13" click-Once><i class="bowtie-icon bowtie-save"></i><span ng-bind="::translation.BTN_SAVE_CONTINUE">Lưu & tiếp</span></button>-->
                    <button id="btnSaveClose" ng-click="saveObject()" type="button" class="btn btn_save_02" tabindex="20" click-Once><i class="bowtie-icon bowtie-save"></i><span ng-bind="::translation.BTN_SAVE_CLOSE">Lưu & đóng</span></button>
                </div>
            </div>
        </div>
    </div>
</div>


