<li id="btnRunTest">
    <a ng-click="executeFunction()" class="btn-small green">
        <i class="bowtie-icon bowtie-media-play-fill mr_5"></i>Run
    </a>
</li>

<li id="btnAddExisting">
    <a ng-click="addExisting()" class="btn-small green">
        <i class="bowtie-icon bowtie-arrow-import mr_5"></i>Add Existing
    </a>
</li>

<li id="btnEditDetail">
    <a ng-click="editDetail()" class="btn-small green">
        <i class="bowtie-icon bowtie-edit-outline mr_5"></i>Edit
    </a>
</li>

<li id="btnFilter">
    <a ng-if="button.filter" ng-click="toogleFilter()" class="btn-small green">
        <i class="bowtie-icon bowtie-search-filter mr_5"></i>Filter
    </a>
</li>