<!--check-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/js/bootstrap-datetimepicker.min.js"></script>-->

<div id="resourcePlanning" ng-controller="resourcePlanningController" ng-init="onload()">
    <div class="white_box" style="background-color:#edf1f5;padding:0">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="main_tab_01" role="tablist">

            <li class="nav-item">
                <a class="nav-link" href="/pm/pblEstimating?pjid={{menuParams.pjid}}{{areaUrl}}&module=pj" id="tab_01-tab" data-toggle="tab" data-target="#tabPblEstimating"
                   role="tab" aria-controls="tab_01" aria-selected="true">PBL Estimating</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/pm/resourcePlanning?pjid={{menuParams.pjid}}{{areaUrl}}&module=pj" id="tab_01-tab" data-toggle="tab" data-target="#tabResourcePlanning"
                   role="tab" aria-controls="tab_01" aria-selected="true">Resource Planning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pm/releasePlanning?pjid={{menuParams.pjid}}{{areaUrl}}&module=pj" id="tab_01-tab" data-toggle="tab" data-target="#tabReleasePlanning"
                   role="tab" aria-controls="tab_01" aria-selected="true">Release Planning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pm/costPlanning?pjid={{menuParams.pjid}}{{areaUrl}}&module=pj" id="tab_01-tab" data-toggle="tab" data-target="#tabCostPlanning"
                   role="tab" aria-controls="tab_01" aria-selected="true">Cost Planning</a>
            </li>
        </ul>

        <div id="tab-content" class="tab-content" style="height:calc(100% - 34px);width: 100%">
            <div class="tab-pane" id="tabPblEstimating" style="height:100%;width:100%">

            </div>
            <div class="tab-pane active" id="tabResourcePlanning" style="height:100%;width:100%">
                <div id="grvResourcePlanning" class="control-grid" style="width:100%;height:100%"></div>
            </div>
            <div class="tab-pane " id="tabReleasePlanning" style="height:100%;width:100%">
            </div>
            <div class="tab-pane" id="tabCostPlanning" style="height:100%;width:100%">

            </div>
        </div>
    </div>


    <div class="modal fade modal_center confirmClose" id="modal-detail-resource" ng-init="initJS()">
        <div class="modal-dialog" style="width:600px">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <p class="modal_header_title"><span>{{::translation.UPDATE_RESOURCE_TITLE}}</span></p>
                    <div class="box_btn_02">
                        <!--<button type="button" class="fullscreen" onclick="fullScreen(this)"><i class="bowtie-icon bowtie-view-full-screen"></i></button>-->
                        <button type="button" class="btn_close_02" data-dismiss="modal"><i class="bowtie-icon bowtie-edit-remove"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-body-maincontent form-input-group">
                        <div class="box_02 col_2 clearfix">
                            <div class="item">
                                <lv-input field="name" model="data.resource.name" setting="setting" translation="translation"  type="text" tab="1"></lv-input>
                            </div>
                            <div class="item">
                                <lv-select field="role" model="data.resource.role" setting="setting" translation="translation" tab="2" change="ChangeRole()"></lv-select>
                            </div>
                        </div>
                        <div class="box_02 col_2 clearfix">
                            <div class="item">
                                <lv-select field="costGroup" model="data.resource.costGroup" setting="setting" translation="translation" change="ChangeCostGroup(e, scope)" type="text" tab="3"></lv-select>
                            </div>
                            <div class="item">
                                <lv-input field="costPerMonth" model="data.resource.costPerMonth" setting="setting" translation="translation"  type="money" tab="4"></lv-input>
                            </div>
                        </div>
                        <div class="box_02 col_2 clearfix">
                            <div class="item">
                                <lv-input field="mobilePhone" model="data.resource.mobilePhone" setting="setting" translation="translation"  type="phone" tab="5"></lv-input>
                            </div>
                            <div class="item">
                                <lv-input field="workEmail" model="data.resource.workEmail" setting="setting" translation="translation"  type="email" tab="6"></lv-input>
                            </div>
                        </div>
                        <div class="box_02 col_1">
                            <div class="item">
                                <lv-input field="training" model="data.resource.training" setting="setting" translation="translation" type="text" tab="6"></lv-input>
                            </div>
                            <div class="item">
                                <lv-valuelist-multi ng-if="!params.area" element-id="areas" field="areas" model="data.resource.areas" setting="setting" translation="translation" tab="6"></lv-valuelist-multi>
                            </div>
                        </div>
                        <div class="box_02 col_2 clearfix">
                            <div class="item">
                                <lv-date field="startDate" model="data.resource.startDate" setting="setting" translation="translation" tab="7"></lv-date>
                            </div>
                            <div class="item">
                                <lv-date field="endDate" model="data.resource.endDate" setting="setting" translation="translation" tab="8"></lv-date>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_save_02" id="btnSave" ng-click="save()" tabindex="9"><i class="bowtie-icon bowtie-save"></i> <span ng-bind="translation.BTN_SAVE_CLOSE">Save</span></button>
                </div>
            </div>
        </div>
    </div>
    <!--</div>-->
</div>

