<script src="../../../js/chartjs/Chart.PieceLabel.js"></script>

<div id="myKPI" ng-controller="myKPIController">
    <div class="white_box" id="main_KPI">
        <ul id="selectContent" class="box_cbb clearfix mb-10">
            <li>
                <select id="select-project" class="lv-select" multiple ng-model="project" ng-change="ChangeProject()"
                        ng-options="option.id as option.text for option in setting.valuelist.project"></select>
            </li>
            <li>
                <select id="select-sprint" class="lv-select" multiple ng-model="sprint" ng-change="ChangeSprint()">
                    <optgroup ng-repeat="option in setting.valuelist.sprint" label="{{option.name}}">
                        <option ng-repeat="child in option.childrens" value="{{child.id}}">{{child.name}}</option>
                    </optgroup>
                </select>
            </li>
            <li><lv-select element-id="project-member-kpi" field="projectMember" model="projectMember" setting="setting" tab="3" change="ChangeMember()"></lv-select></li>
            <li><lv-select element-id="task-bug-kpi" field="myTaskListTaskBug" model="type" setting="setting" tab="4" change="ChangeType()"></lv-select></li>
        </ul>
        <div class="row" id="chartContent" style="overflow:auto;">
            <div>
                <div class="divChart_body" id="div_mychart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div>
                <div class="divChart_body" id="div_mychart2">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
            <div>
                <div class="divChart_body" id="div_mychart3">
                    <canvas id="myChart3"></canvas>
                </div>
            </div>
            <div>
                <div class="divChart_body" id="div_mychart4">
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
        </div>
        <div id="grvKPI"></div>
    </div>
</div>