
<div id="successCriteria" style="position:relative;height:100%;width:100%" ng-init="onload()">
    <div class="clearfix">
        <div class="box_content">
            <dl class="mb-0">
                <dt>
                    <a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#multiCollapse_successCriteria_10" aria-expanded="true" aria-controls="multiCollapse_successCriteria_10">
                        <i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i>
                        <span ng-bind="translation.SUCCESS_CRITERIA_INTERNAL">Các tiêu chí thành công nội bộ</span>
                    </a>
                </dt>
                <dd style="padding:15px 0px">
                    <div class="multi-collapse show" id="multiCollapse_successCriteria_10" aria-expanded="true" style="">
                        <div class="row pd_lr_7">
                            <div class="box_content col-md-6">
                                <dl class="mb-0">
                                    <dt>
                                        <a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#multiCollapse_successCriteria_01" aria-expanded="true" aria-controls="multiCollapse_successCriteria_01">
                                            <i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i>
                                            <span ng-bind="translation.RESOURCE">Nhân lực</span>
                                        </a>
                                    </dt>
                                    <dd>
                                        <div class="multi-collapse show" id="multiCollapse_successCriteria_01" aria-expanded="true" style="">
                                            <textarea ui-tinymce="tinymceNoResizeOptions" ng-model="envision.successCriteria.resource"></textarea>
                                        </div>
                                    </dd>
                                </dl>
                            </div>

                            <div class="box_content col-md-6">
                                <dl class="mb-0">
                                    <dt>
                                        <a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#multiCollapse_successCriteria_02" aria-expanded="true" aria-controls="multiCollapse_successCriteria_02">
                                            <i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i>
                                            <span ng-bind="translation.ORGANIZATION">Tổ chức</span>
                                        </a>
                                    </dt>
                                    <dd>
                                        <div class="multi-collapse show" id="multiCollapse_successCriteria_02" aria-expanded="true" style="">
                                            <textarea ui-tinymce="tinymceNoResizeOptions" ng-model="envision.successCriteria.organization" ></textarea>
                                        </div>
                                    </dd>
                                </dl>
                            </div>

                            <div class="box_content col-md-6" style="padding-top:15px">
                                <dl class="mb-0">
                                    <dt>
                                        <a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#multiCollapse_successCriteria_03" aria-expanded="true" aria-controls="multiCollapse_successCriteria_03">
                                            <i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i>
                                            <span ng-bind="translation.TECHNOLOGY">Công nghệ</span>
                                        </a>
                                    </dt>
                                    <dd>
                                        <div class="multi-collapse show" id="multiCollapse_successCriteria_03" aria-expanded="true" style="">
                                            <textarea ui-tinymce="tinymceNoResizeOptions" ng-model="envision.successCriteria.technology" ></textarea>
                                        </div>
                                    </dd>
                                </dl>
                            </div>

                            <div class="box_content col-md-6" style="padding-top:15px">
                                <dl class="mb-0">
                                    <dt>
                                        <a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#multiCollapse_successCriteria_04" aria-expanded="true" aria-controls="multiCollapse_successCriteria_04">
                                            <i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i>
                                            <span ng-bind="translation.PROCESS">Quy trình</span>
                                        </a>
                                    </dt>
                                    <dd>
                                        <div class="multi-collapse show" id="multiCollapse_successCriteria_04" aria-expanded="true" style="">
                                            <textarea ui-tinymce="tinymceNoResizeOptions" ng-model="envision.successCriteria.process" ></textarea>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>

        <div class="box_content" style="width:100%;margin-top:20px">
            <dl class="mb-0">
                <dt>
                    <a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#multiCollapse_successCriteria_20" aria-expanded="true" aria-controls="multiCollapse_successCriteria_20">
                        <i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i>
                        <span ng-bind="translation.SUCCESS_CRITERIA_EXTERNAL">Các tiêu chí thành công bên ngoài</span>
                    </a>
                </dt>
                <dd style="padding:15px">
                    <div class="multi-collapse show" id="multiCollapse_successCriteria_20" aria-expanded="true" style="">
                        <div class="row pd_lr_7">
                            <div class="box_content col-md-6">
                                <dl class="mb-0">
                                    <dt>
                                        <a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#multiCollapse_successCriteria_05" aria-expanded="true" aria-controls="multiCollapse_successCriteria_05">
                                            <i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i>
                                            <span ng-bind="translation.RESOURCE">Nhân lực</span>
                                        </a>
                                    </dt>
                                    <dd>
                                        <div class="multi-collapse show" id="multiCollapse_successCriteria_05" aria-expanded="true" style="">
                                            <textarea ui-tinymce="tinymceNoResizeOptions" ng-model="envision.successCriteria.marketShare" ></textarea>
                                        </div>
                                    </dd>
                                </dl>
                            </div>

                            <div class="box_content col-md-6">
                                <dl class="mb-0">
                                    <dt>
                                        <a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#multiCollapse_successCriteria_06" aria-expanded="true" aria-controls="multiCollapse_successCriteria_06">
                                            <i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i>
                                            <span ng-bind="translation.ORGANIZATION">Tổ chức</span>
                                        </a>
                                    </dt>
                                    <dd>
                                        <div class="multi-collapse show" id="multiCollapse_successCriteria_06" aria-expanded="true" style="">
                                            <textarea ui-tinymce="tinymceNoResizeOptions" ng-model="envision.successCriteria.revenue" ></textarea>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>
