<div id="queries" ng-controller="queriesController">
    <div class="white_box">
        <div class="clearfix content_7_3">
            <div class="content_7 float-left">
                <table class="tb_tree" id="th_tb_tree">
                    <thead>
                        <tr class="bg_blue_02">
                            <th colspan="7">
                                <div class="clearfix box_header">
                                    <p class="title_01 float-left mb-0 display_n ng-binding">{{currentQuery.name}}</p>
                                    <div class="item float-right" ng-click="checkAcrossProjects(currentQuery)" style="cursor: pointer">
                                        <span class="mr-2">Query across projects</span><span> <i id="chkAcrossProjects" ng-class="currentQuery.acrossProjects? 'bowtie-icon bowtie-checkbox':'bowtie-icon bowtie-checkbox-empty'" style="font-size:17px;"></i></span>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr class="heading">
                            <th class="w_5 ng-binding"></th>
                            <th class="w_5 ng-binding"><i ng-class="'bowtie-icon bowtie-group-rows'" style="font-size:17px;" ng-click="changeGroupSelectedClauses(item, $index)" tab="9"></i></th>
                            <th class="w_15 ng-binding">And/Or</th>
                            <th class="w_25 ng-binding">Field</th>
                            <th class="w_25 ng-binding">Operator</th>
                            <th class="w_25 ng-binding">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in currentQueryBuilder" style="width:100%;" ng-if="currentQuery.queryBuilder.length > 0" class="m-0" id="modal-queries">
                            <td class="w_5 ng-binding">
                                <button type="button" class="cl_green btn_add_02 addChild mr-2" ng-click='addRow($index)'><i class="addChild bowtie-icon bowtie-math-plus-circle-outline"></i></button>
                                <button type="button" class="cl_red btn_add_02" ng-click='removeRow($index)'><i class="addChild bowtie-icon bowtie-status-failure-outline"></i></button>
                            </td>
                            <td class="w_5 ng-binding">
                                <div class="cbb_02">
                                    <i id="chkGroup_{{$index}}" ng-class="item.group? 'bowtie-icon bowtie-checkbox':'bowtie-icon bowtie-checkbox-empty'" style="font-size:17px;margin-right:5px;width:10px" ng-click="checkedChanged(item, $index)" tab="9"></i>
                                </div>
                            </td>
                            <td class="w_15 ng-binding">
                                <div class="cbb_02" ng-if="$index != 0">
                                    <lv-select element-id="vllType_{{$index}}" field="vllType" model="currentQuery.queryBuilder[$index].type" setting="setting" translation="translation" change="setQueryModified(true)"></lv-select>
                                </div>
                            </td>
                            <td class="w_25 ng-binding">
                                <div class="cbb_02">
                                    <lv-select element-id="vllField_{{$index}}" field="vllField" model="currentQuery.queryBuilder[$index].field" setting="setting" translation="translation" change="changeField($index)"></lv-select>
                                </div>
                            </td>
                            <td class="w_25 ng-binding">
                                <div class="cbb_02">
                                    <lv-select element-id="vllOperator_{{$index}}" field="operatorSource" data="setting.valuelist.operatorSource[$index]" model="currentQuery.queryBuilder[$index].operator" setting="setting" translation="translation" change="changeOperator($index)"></lv-select>
                                </div>
                            </td>
                            <td class="w_25 ng-binding" ng-if="setting.valuelist.valueSource[$index] == null">
                                <div class="cbb_02">
                                    <lv-input field="valueSource" model="currentQuery.queryBuilder[$index].value" setting="setting" translation="translation" type="text" change="setQueryModified(true)"></lv-input>
                                </div>
                            </td>
                            <td class="w_25 ng-binding" ng-if="setting.valuelist.valueSource[$index] == 'DateTime'">
                                <lv-date field="valueSource" model="currentQuery.queryBuilder[$index].value" default="now" setting="setting" translation="translation" tab="28" change="setQueryModified(true)"></lv-date>
                            </td>
                            <td class="w_25 ng-binding" ng-if="setting.valuelist.valueSource[$index] != 'DateTime' && setting.valuelist.valueSource[$index] != null">
                                <lv-select element-id="vllValue_{{$index}}" field="valueSource" data="setting.valuelist.valueSource[$index]" model="currentQuery.queryBuilder[$index].value" setting="setting" translation="translation" change="setQueryModified(true)"></lv-select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="gridWrapper">
                    <div id="grvWorkItemQueries" class="control-grid" style="height:calc(100% - 205px); width:100%;"></div>
                </div>
            </div>
            <div class="float-right content_3 sprint_plan_main">
                <div class="clearfix bg_blue_01 h_th">
                    <p class="title_01 float-left mb-0 display_n" ng-bind="translation.QUERIES"></p>
                    <ul class="float-right clearfix mb-0 title_01">
                        <li id="deleteQuery" class="float-left mr-2 cus display_n btn_30 btn_default" ng-click="deleteQuery()" title="Delete"><i class="bowtie-icon bowtie-edit-delete" style="font-size:14px;"></i></li>
                        <li id="renameQuery" class="float-left mr-2 cus display_n btn_30 btn_default" ng-click="renameQuery()" title="Rename"><i class="bowtie-icon bowtie-edit-rename" style="font-size:14px;"></i></li>
                        <li class="float-left cus btn_full btn_30 btn_default" title="Hide tab">
                            <i class="bowtie-icon bowtie-menu" style="font-size:14px;"></i><span class="menu_min">Queries</span>
                        </li>
                    </ul>
                </div>
                <div id="accordion" class="queries_related sprint_plan show_hidden_team_member">
                    <dl style="width:100%;" class="m-0">
                        <dd id="queryText_0" class="mb-0 collapse show" aria-labelledby="queryText_0">
                            <div class="content">
                                <div class="content_main">
                                    <table ng-repeat="item in setting.valuelist['noneParent']" style="width:100%;" ng-if="setting.valuelist['noneParent'].length > 0" class="tb_team_cap_md">
                                        <tr>
                                            <td>
                                                <p id="{{item.id}}" class="mb-0 txt_cut" ng-class="item.id == currentQuery.id ? 'selected' : ''"><a ng-click="selectQueries(item.id)" class="link">{{item.name}}</a></p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </dd> 
                    </dl>
                    <dl ng-repeat="data in setting.valuelist['parentQueries']" style="width:100%;" ng-if="setting.valuelist['parentQueries'].length > 0" class="m-0">
                        <dt class="title_02 mb-0 bg_gray_02" data-toggle="collapse" data-target="#queryText_{{$index+1}}" aria-expanded="true" aria-controls="queryText_{{$index+1}}">{{data.text}}</dt>
                        <dd id="queryText_{{$index+1}}" class="mb-0 collapse show" aria-labelledby="queryText_{{$index+1}}">
                            <div class="content">
                                <div class="content_main">
                                    <table ng-repeat="item in setting.valuelist[data.id]" style="width:100%;" ng-if="setting.valuelist[data.id].length > 0" class="tb_team_cap_md">
                                        <tr>
                                            <td>
                                                <p id="{{item.id}}" class="mb-0 txt_cut" ng-class="item.id == currentQuery.id ? 'selected' : ''"><a ng-click="selectQueries(item.id)" class="link">{{item.name}}</a></p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- Modal workItemForm-->
            <div lv-include path="app/pm/workItem/workItemForm" name="workItemForm"></div>
        </div>
    </div>

    <!-- Modal saveAs-->
    <div class="modal fade modal_center confirmClose" id="modal-saveAs">
        <div class="modal-dialog" style="width:450px">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal_header_title"><span ng-bind="translation.MODAL_SAVEAS_ADDTITLE"></span></p>
                    <div class="box_btn_02">
                        <button type="button" class="fullscreen" onclick="fullscreen('modal-saveAs')"><i class="bowtie-icon bowtie-view-full-screen"></i></button>
                        <button type="button" class="btn_close_02" data-dismiss="modal"><i class="bowtie-icon bowtie-edit-remove"></i></button>
                    </div>
                </div>
                <div class="modal-body" style="min-height:250px">
                    <div class="modal-body-maincontent">
                        <div class="row form-input-group pd_lr_7">
                            <div class="col-md-12">
                                <lv-input field="name" model="currentQuery.name" setting="setting" translation="translation" type="text" tab="0"></lv-input>
                                <lv-select element-id="vllParent" field="parentQueries" model="currentQuery.parent" setting="setting" translation="translation" tab="1"></lv-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_save_02" id="btnSave" ng-click="saveDetail()" click-Once><i class="fa fa-save"></i> <span ng-bind="globalTranslation.BTN_SAVE">Save</span></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal renameQuery-->
    <div class="modal fade modal_center confirmClose" id="modal-renameQuery">
        <div class="modal-dialog" style="width:450px">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal_header_title"><span ng-bind="translation.MODAL_RENAMEQUERYTITLE"></span></p>
                    <div class="box_btn_02">
                        <button type="button" class="fullscreen" onclick="fullscreen('modal-renameQuery')"><i class="bowtie-icon bowtie-view-full-screen"></i></button>
                        <button type="button" class="btn_close_02" data-dismiss="modal"><i class="bowtie-icon bowtie-edit-remove"></i></button>
                    </div>
                </div>
                <div class="modal-body" style="min-height:250px">
                    <div class="modal-body-maincontent">
                        <div class="row form-input-group pd_lr_7">
                            <div class="col-md-12">
                                <lv-input field="oldName" model="oldName" setting="setting" translation="translation" type="text" tab="0"></lv-input>
                                <lv-input field="name" model="currentQuery.name" setting="setting" translation="translation" type="text" tab="1"></lv-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_save_02" id="btnSave" ng-click="saveRenameQuery()" click-Once><i class="fa fa-save"></i> <span ng-bind="globalTranslation.BTN_SAVE">Save</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
