<li id="btnImprove">
    <a ng-click="callModalImprove()" class="btn-small green">
        <i class="bowtie-icon bowtie-edit mr_5"></i>{{translation.BTN_IMPROVE}}
    </a>
</li>
<li id="btnAssessment" class="criteria-assessment">
    <a ng-click="callAssessment()" class="btn-small green criteria-assessment">
        <i class="bowtie-icon bowtie-check mr_5 criteria-assessment"></i>{{translation.BTN_ASSESSMENT}}
    </a>
</li>
<li id="btnCriteriaImport">
    <a ng-click="callModalImport()" class="btn-small green">
        <i class="bowtie-icon bowtie-step-shared-add mr_5"></i>{{translation.BTN_IMPORT}}
    </a>
</li>