/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

.modalcenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.active-temcapacity {
    background-color: #CCE6FF;
}