/*for test only. After test complate: undo, no check-in.*/

 #kanban_PBL {
    width: 100%;
    table-layout: fixed;
    margin: auto;
}

#kanban_PBL thead {
    width: 100%;
    display: table;
}



#kanban_PBL thead tr th {
    padding-left: 10px;
    padding-bottom: 10px;
    width: 10%;
    border-bottom: 2px solid #F09659;
}

#kanban_PBL thead tr:first-child th:first-child {
    border-bottom: none;
}

#kanban_PBL tbody {
    width: 100%;
    height: 560px;
    /*max-height: 600px;*/
    overflow: auto;
    overflow-x: hidden;
    display: block;
}

#kanban_PBL tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}


#kanban_PBL tbody tr td {
    vertical-align: top;
    padding-left: 0px;
    height: 100px;
    padding-top: 40px;
    border-right: 1px solid #CCC;

}

#kanban_PBL tbody tr:first-child td:first-child {
    padding-top: 0px;
}


#kanban_PBL tbody tr td:first-child {
    border-right: 2px solid #F09659;
    padding-right: 10px;
    padding-top: 10px;
}

#kanban_PBL tbody tr td:first-child > div {
    height:40px;
}

#kanban_PBL tbody tr td div.tooltip.bottom .tooltip-inner {
    background-color: #fff;
    color: red;
    border: 1px solid #ccc;
}

#kanban_PBL tbody tr td div.tooltip.bottom .tooltip-arrow {
    border-bottom: 5px solid #ccc;
}

.columnPBL {
    width: 100%;
    float: left;
    padding: 10px;
    height: 100%;
    /*padding-bottom: 20px;*/
}

.block {
    width: 100%;
    height: auto;
    margin: 0 0 15px;
    display: inline-block;
    padding: 10px;
    background: #fff;
    border: 1px solid #009CCC;
    border-left: 6px solid #009CCC;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.block-header {
    color: #337ab7;
    display: block;
    word-wrap: break-word;
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-header:hover {
    cursor:pointer;
    text-decoration-line:underline;
}

.block-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.block-placeholder {
    border: 1px dashed black;
    margin: 0 0 10px;
    height: 100px;
    width: 100%;
    display: block;
    clear: both;
}

.priority {
   opacity:0.6;
}


.priority-value {
    float: right;
    color: #000;
}

.backlog_F {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: 6px solid #773B93;
}

.backlog_U {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: 6px solid #009ccc;
}

.parent_text {
    white-space: nowrap;
    display:block;
    /*width: 80px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:10px;
}

.parent_text:hover {
    cursor: pointer;
    text-decoration-line: underline;
}



.sizePoint {
    float: right;
    color: red;
    padding-right: 15px;
}


@media screen and (max-width: 1366px) {
    .priority {
        display: none;
    }

    .priority-value {
        float: left !important;
        padding-bottom: 10px;
    }
}