<div id="costPrice" ng-controller="costPricePrintController" class="pos">
    <div class="white_box">
        <div class="box_filter clearfix" style="height: initial; margin-top: -5px;display: block;">
            <ul class="box_btn mb-0 d-flex justify-content-start" style="align-items: flex-end">
                <li class="w_15 select2_op2">
                    <div class="btn_search">
                        <div class="input-group">
                            <input type="text" id="full_text_filter" class="form-control" placeholder="{{translation.SEARCH}}" ng-keypress="searchItem($event)" tab="1">
                            <span class="input-group-btn">
                                <button class="btn" type="button" ng-click="searchItem()"><i class="bowtie-icon bowtie-search"></i></button>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="w_15 select2_op2">
                    <lv-select element-id="typeSearchPrint" field="typeSearchPrint" model="typeSearchPrint" setting="setting" change="changeTypeSearch()" translation="translation" tab="1"></lv-select>
                </li>

                <li class="w_15 select2_op2" ng-show="typeSearchPrint == '1'">
                    <lv-combobox element-id="cmbGroupItem" option="cmbGroupItem" model="cmbGroupItem" tab="3" label="{{translation.GROUPITEM}}">
                    </lv-combobox>
                </li>

                <li class="w_15 select2_op2" ng-show="typeSearchPrint == '2'">
                    <lv-combobox element-id="cmbInventoryImport" option="cmbInventoryImport" model="cmbInventoryImport" tab="3" label="{{translation.INVENTORYIMPORT}}">
                    </lv-combobox>
                </li>

                <li class="w_15 select2_op2" ng-show="typeSearchPrint == '3'">
                    <select select2>
                        <option value="1">Chọn bảng giá</option>
                    </select>
                </li>

                <li class="w_15 select2_op2 btn_filter_fix" ng-show="typeSearchPrint == '2'">
                    <button type="button" class="bg_blue_02 btn_filter w_100" ng-click="showInventoryImport()">Tìm nâng cao</button>
                </li>
                <li class="btn_filter_fix">
                    <button type="button" class="bg_blue_02 btn_filter w_100" ng-click="searchObject()">Lọc</button>
                </li>
            </ul>
        </div>
        <div class="content_6_4 d-flex mb_0" style="justify-content: space-between;">
            <div class="content_4">
                <dl class="mb-0">
                    <dt>
                        <a class="title_01 bg_blue_01">
                            <span>Ngày áp dụng</span>
                        </a>
                    </dt>
                    <dd>
                        <div class="wrapper form-input-group">
                            <div class="box_02 col_1 clearfix mb_15 mt_15">
                                <div class="item mb_15 select2_op2">
                                    <label class="mb-5">Ngày áp dụng</label>
                                    <input type="date" name="name" value="" class="iput" />
                                </div>
                                <div class="item select2_op2">
                                    <label class="mb-5">Ngày kết thúc</label>
                                    <input type="date" name="name" value="" class="iput" />
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="content_6 wrapper">
                <ul class="nav nav-tabs bg-white" role="tablist" id="myTab">
                    <li class="nav-item">
                        <a class="nav-link active" data-target="#statistic" id="tab_01-tab" data-toggle="tab" role="tab" aria-controls="statistic" aria-selected="true">Tổng số mặt hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-target="#analysis" id="tab_02-tab" data-toggle="tab" role="tab" aria-controls="analysis" aria-selected="false">Số chưa cập nhật</a>
                    </li>
                </ul>
                <div class="tab-content tab-content-sprint" style="padding: 0px; height: calc(100% - 142px);">
                    <div class="tab-pane active" id="statistic" role="tabpanel" aria-labelledby="statistic">
                        
                    </div>
                    <div class="tab-pane" id="analysis" role="tabpanel" aria-labelledby="analysis" style="overflow: auto">
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal (detail)-->
        <div class="modal fade modal_center confirmClose" style="" id="modal-detail" ng-init="initModal()">
            <div class="modal-dialog" style="width:1100px">
                <div class="modal-content">
                    <div class="modal-header">
                        <p style="font-size:16px;margin:0;line-height:1.9em;" class="float-left"><span ng-bind="translation.MODAL_DETAIL_SEARCHTITLE"></span></p>
                        <div class="box_btn_02">
                            <button type="button" class="fullscreen" onclick="fullscreen('modal-detail')"><i class="bowtie-icon bowtie-view-full-screen"></i></button>
                            <button type="button" class="btn_close_02" data-dismiss="modal"><i class="bowtie-icon bowtie-edit-remove"></i></button>
                        </div>
                    </div>
                    <div class="modal-body" style="min-height:260px">
                        <div class="modal-body-maincontent">
                            <div class="box_filter clearfix" style="height: initial; margin-top: -5px;display:block;">
                                <ul class="box_btn mb-0 d-flex justify-content-start" style="align-items: flex-end">
                                    <li class="w_15 select2_op2">
                                        <div class="btn_search">
                                            <div class="input-group">
                                                <input type="text" id="full_text_filter2" class="form-control" placeholder="{{translation.SEARCH}}" ng-keypress="searchInvImport($event)" tab="1">
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button" ng-click="searchInvImport()"><i class="bowtie-icon bowtie-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="w_15 select2_op2">
                                        <lv-combobox element-id="cmbStoreId" option="cmbStoreId" model="storeFilter" tab="1" label="{{translation.STOREFILTER}}">
                                        </lv-combobox>
                                    </li>
                                    <li class="w_15 select2_op2">
                                        <lv-select element-id="timeMark" field="timeMark" model="timeMark" setting="setting" change="changeTimeMark()" translation="translation" tab="2"></lv-select>
                                    </li>

                                    <li class="w_15 select2_op2">
                                        <lv-datepicker field="fromDate" model="fromDate" setting="setting" translation="translation" tab="3"></lv-datepicker>
                                    </li>
                                    <li class="w_15 select2_op2">
                                        <lv-datepicker field="toDate" model="toDate" setting="setting" translation="translation" tab="4"></lv-datepicker>
                                    </li>
                                    <li>
                                        <button type="button" class="bg_blue_02 btn_filter w_100" ng-click="searchInventoryImport()">{{translation.FILTER}}</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="gridWrapper" style="height:100%;">
                                <div id="grvInventoryImport" class="control-grid" style="width: 100%; height: 420px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn_save_02" id="btnSave" ng-click="saveSearchInventoryImport()" click-Once><i class="fa fa-save"></i> <span ng-bind="globalTranslation.BTN_SAVE">Save</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


