<div id="customer" ng-controller="customerController" class="pos">
    <div class="white_box">
        <div class="box_filter clearfix">
            <ul class="box_btn mb-0 d-flex justify-content-start">
                <li class="w_15 select2_op2">
                    <div class="btn_search">
                        <div class="input-group">
                            <input type="text" id="full_text_filter" class="form-control" placeholder="Tìm khách hàng" ng-keypress="search($event, 1)">
                            <span class="input-group-btn">
                                <button class="btn" type="button" ng-click="search($event, 1, 1)"><i class="bowtie-icon bowtie-search"></i></button>
                            </span>
                        </div>
                    </div>
                </li>
                <li class="w_15 select2_op2">
                    <!--<lv-select field="typeId" model="typeFilter" setting="setting" translation="translation" tab="0"></lv-select>-->
                    <lv-combobox element-id="cmbTypeFilter" field="cmbTypeFilter" option="cmbTypeFilter" model="typeFilter" tab="0" label="">
                    </lv-combobox>
                </li>
                <li class="w_15 select2_op2">
                    <!--<lv-select field="groupId" model="groupFilter" setting="setting" translation="translation" tab="0"></lv-select>-->
                    <lv-combobox element-id="cmbGroupFilter" field="cmbGroupFilter" option="cmbGroupFilter" model="groupFilter" tab="0" label="">
                    </lv-combobox>
                </li>
                <li>
                    <button type="button" class="bg_blue_02 btn_filter w_100" ng-click="searchObject()" tabindex="0">{{translation.FILTER}}</button>
                </li>
            </ul>
        </div>
        <div class="content_6_4 clearfix" style="height:100%">
            <div class="content_6 mr_10 float-left" style="height:100%">
                <dl class="mb-0" style="height:100%">
                    <dt>
                        <a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#panel_01" aria-expanded="true" aria-controls="panel_01">
                            <i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i><span ng-bind="::translation.CUSTOMERLIST"></span>
                            <ul class="clearfix box_infomation">
                                <li class="ng-binding ng-scope">
                                    {{translation.TOTALSTATUS}}<span class="cl_red">({{dataDetailCustTemp.total}})</span>
                                </li>
                                <!--<li class="ng-binding ng-scope">
                                    {{translation.ACTIVESTATUS}}<span class="cl_red">({{active}})</span>
                                </li>
                                <li class="ng-binding ng-scope">
                                    {{translation.DEACTIVESTATUS}}<span class="cl_red">({{deactive}})</span>
                                </li>-->
                            </ul>
                        </a>
                    </dt>
                    <dd style="width:100%;height:calc(100% - 25px)">
                        <div class="collapse show" id="panel_01" style="width:100%;height:100%" aria-expanded="true">
                            <div class="gridWrapper">
                                <div id="grvCustomer" class="control-grid" style="width:100%;height:100%"></div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="content_4 scroll float-right">
                <dl class="mb_10">
                    <dt><a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#panel_02" aria-expanded="true" aria-controls="panel_02"><i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i><span ng-bind="::translation.CUSTOMERINFO"></span></a></dt>
                    <dd>
                        <div class="collapse show" id="panel_02" aria-expanded="true">
                            <div class="d-flex">
                                <div class="col-left">
                                    <p ng-bind="::translation.BIRTHDAY"></p>
                                    <p ng-bind="::translation.PRIMARYEMAIL">Email:</p>
                                    <p ng-bind="::translation.TYPEID">Loại KH:</p>
                                    <p ng-bind="::translation.GROUPID">Nhóm KH:</p>
                                    <p ng-bind="::translation.PRIMARYDISTRICT">Quận:</p>
                                    <p ng-bind="::translation.PRIMARYPROVINCE">Tỉnh/thành phố:</p>
                                </div>
                                <div class="col-right">
                                    <p class="txt_cut" ng-bind="dataCustomer.birthDay |  date:'dd/MM/yyyy'"> </p>
                                    <p class="txt_cut link" ng-bind="dataCustomer.primaryEmail">duongvuthong13@gmail.com</p>
                                    <p class="txt_cut" ng-bind="dataCustomer.typeId">..</p>
                                    <p class="txt_cut" ng-bind="dataCustomer.groupId">Thường xuyên</p>
                                    <p class="txt_cut" ng-bind="dataCustomer.primaryDistrict">12</p>
                                    <p class="txt_cut" ng-bind="dataCustomer.primaryProvince">TP. Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="mb_10">
                    <dt><a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#panel_03" aria-expanded="true" aria-controls="panel_03"><i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i><span ng-bind="::translation.TRADINGINFO"></span></a></dt>
                    <dd>
                        <div class="collapse show" id="panel_03" aria-expanded="true">
                            <div class="d-flex">
                                <div class="col-left">
                                    <p ng-bind="::translation.SUMMONEY">Tổng tiền:</p>
                                    <p ng-bind="::translation.SUMCONTRACT">Tổng số HĐ:</p>
                                </div>
                                <div class="col-right">
                                    <p class="txt_cut">{{dataCustomer.totalPay | number:0}}</p>
                                    <p class="txt_cut">{{dataCustomer.totalSaleOrder | number:0}}</p>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="mb_10">
                    <dt><a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#panel_04" aria-expanded="true" aria-controls="panel_04"><i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i><span ng-bind="::translation.TOPBUY"></span></a></dt>
                    <dd>
                        <div class="collapse show" id="panel_04" aria-expanded="true">
                            <div class="d-flex">
                                <div class="col-left">
                                    <p class="txt_cut" title="{{item.itemName}}"  ng-repeat="item in dataCustomer.topItem">{{item.itemName}}:</p>
                                </div>
                                <div class="col-right">
                                    <p class="txt_cut" ng-repeat="item in dataCustomer.topItem">{{item.quantity}}</p>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl class="mb_10">
                    <dt><a class="title_01 bg_blue_01" data-toggle="collapse" data-target="#panel_05" aria-expanded="true" aria-controls="panel_05"><i class="bowtie-icon bowtie-navigate-back-circle float-left ic_arrow"></i><span ng-bind="::translation.SALEBILL">Hóa đơn bán hàng</span></a></dt>
                    <dd>
                        <div class="collapse show" id="panel_05" aria-expanded="true">
                            <div class="d-flex mt_10" ng-repeat="item in dataCustomer.dataSaleOrder">
                                <div class="w_40">
                                    <a href="/pos/saleOrder?module=poscashtrans&code={{item.code}}" target="_blank"><p class="txt_cut">{{item.code}}</p></a>
                                </div>
                                <div class="w_30">
                                    <p class="txt_cut">{{item.docDate | date :'dd-MM-yyyy'}}</p>
                                </div>
                                <div class="w_30">
                                    <p class="txt_cut bold">{{item.totalAmount | number}}</p>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>

    </div>

    <div class="modal fadeIn modal_center" role="dialog" id="modal-detail" ng-init="onloadModal()" style="animation-delay:10s;">
        <div class="modal-dialog modal-medium modal-padding">
            <div class="modal-content requirement-content" style="padding-top: 0px !important">
                <div class="modal-header clearfix">
                    <p style="font-size:16px;margin:0;line-height:1.9em;" class="float-left"><span ng-bind="(action == 'add') ? translation.MODAL_DETAIL_ADDTITLE : translation.MODAL_DETAIL_EDITTITLE"></span></p>
                    <div class="box_btn_02">
                        <button type="button" class="fullscreen" onclick="fullscreen('modal-detail')"><i class="bowtie-icon bowtie-view-full-screen"></i></button>
                        <button type="button" class="btn_close_02" data-dismiss="modal"><i class="bowtie-icon bowtie-edit-remove"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content clearfix">
                        <div class="modal-body-maincontent clearfix">
                            <ul class="nav nav-tabs bg-white" id="main_tab_01" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab_01-tab" data-toggle="tab" data-target="#tab1"
                                       role="tab" aria-controls="tab_01" aria-selected="true">Thông tin chung</a>
                                </li>
                                <li class="nav-item"  ng-show="data.kind=='2'">
                                    <a class="nav-link" id="tab_02-tab" data-toggle="tab" data-target="#tab2" role="tab" aria-controls="tab_02" aria-selected="false">Thông tin công ty</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active clearfix" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                    <div class="w180 float-left">
                                        <div class="img_over_180">
                                            <div class="droppable-area advancedDropzoneStore dz-clickable img float-left img_over_180" style="border:1px solid #eee;">
                                                <img id="imgAvatar" src="/img/no_avatar.png" class="img-inline dz-message img_full">
                                                <div class="close" ng-click="deleteAvatar()"><i class="bowtie-icon bowtie-edit-delete"></i></div>
                                            </div>
                                        </div>
                                        <!--<div class="box_02 col_1 clearfix mb_15 mt_15">
                                            <div class="pos_item">
                                                <div class="switch" ng-class="data.active ? 'change' : ''" ng-click="changeActive()">
                                                    <input type="checkbox">
                                                    <p class="slider mb-0"></p>
                                                </div>
                                                <div class="switch-label txt_cut">Đang hoạt động</div>
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="w100_180 float-right form-input-group">
                                        <div class="box_02 col_2 clearfix mb_15">
                                            <div class="pos_item">
                                                <div id="radioKind" class="d-flex" style="margin-left: 85px; width: 100%; outline: none" tabindex="1">
                                                    <label class="container w_50" ng-click="changeKind('1')">
                                                        Cá nhân
                                                        <input type="radio" checked="checked" name="radio" value="1">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="container w_50" ng-click="changeKind('2')">
                                                        Doanh nghiệp
                                                        <input type="radio" name="radio" value="2">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="pos_item">
                                                <lv-input field="code" element-id="code" model="data.code" setting="setting" translation="translation" change="" type="text" tab="2"></lv-input>
                                            </div>
                                        </div>

                                        <div class="box_02 col_1 clearfix mb_15">
                                            <div class="pos_item">
                                                <lv-input field="name" element-id="name" model="data.name" setting="setting" translation="translation" change="" type="text" tab="3"></lv-input>
                                            </div>
                                        </div>
                                        <div class="box_02 col_1 clearfix mb_15">
                                            <div class="pos_item">
                                                <lv-input field="primaryStreet" model="data.primaryStreet" setting="setting" translation="translation" change="" type="text" tab="4"></lv-input>
                                            </div>
                                        </div>
                                        <div class="box_02 col_2 clearfix mb_15">
                                            <div class="pos_item">
                                                <lv-input field="identificationNo" element-id="identificationNo" model="data.identificationNo" setting="setting" translation="translation" change="" type="text" tab="5"></lv-input>
                                            </div>
                                            <div class="pos_item">
                                                <lv-input field="primaryPhone" model="data.primaryPhone" setting="setting" translation="translation" change="" type="phone" tab="6"></lv-input>
                                            </div>
                                        </div>
                                        <div class="box_02 col_2 clearfix mb_15">
                                            <div class="pos_item">
                                                <lv-datepicker field="birthDay" model="data.birthDay" setting="setting" translation="translation" tab="7"></lv-datepicker>
                                            </div>
                                            <div class="pos_item">
                                                <div class="radio">
                                                    <div class="form-group">
                                                        <label><span>Giới tính</span></label>
                                                        <span><span class="size-per-80"><sup> (</sup></span><span class="red">*</span><span class="size-per-80"><sup>)</sup></span></span>
                                                        <div id="radioGender" class="d-flex" style="justify-content: space-between; width: calc(100% - 170px); outline: none" tabindex="8">
                                                            <label class="container w_30" ng-click="changeGender('1')">
                                                                Nam
                                                                <input type="radio" checked="checked" name="radio" value="1">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                            <label class="container w_30" ng-click="changeGender('2')">
                                                                Nữ
                                                                <input type="radio" name="radio" value="2">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                            <label class="container w_30" ng-click="changeGender('3')">
                                                                Khác
                                                                <input type="radio" name="radio" value="3">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box_02 col_2 clearfix mb_15">
                                            <div class="pos_item haveButton">
                                                <!--<lv-select field="groupId" model="data.groupId" setting="setting" translation="translation" tab="6"></lv-select>-->
                                                <lv-combobox element-id="cmbGroupId" field="groupId" option="cmbGroupId" model="data.groupId" tab="9" label="{{translation.GROUPID}}">
                                                </lv-combobox>
                                                <!--<lv-select field="groupId" model="data.groupId" setting="setting" translation="translation" tab="6" allowclear="true"></lv-select>-->
                                                <a ng-click="callMethod('add2')" class="btn_add btn_30 "><i class="bowtie-icon bowtie-math-plus"></i></a>
                                            </div>
                                            <div class="pos_item haveButton">
                                                <lv-combobox element-id="cmbTypeId" field="typeId" option="cmbTypeId" model="data.typeId" tab="10" label="{{translation.TYPEID}}">
                                                </lv-combobox>
                                                <!--<lv-select field="typeId" model="data.typeId" setting="setting" translation="translation" tab="10" allowclear="true"></lv-select>-->
                                                <a ng-click="callMethod('add1')" class="btn_add btn_30 "><i class="bowtie-icon bowtie-math-plus"></i></a>
                                            </div>
                                        </div>

                                        <div class="box_02 col_2 clearfix mb_15">
                                            <div class="pos_item">
                                                <lv-select field="primaryProvince" model="data.primaryProvince" change="ChangeProvince()" setting="setting" translation="translation" tab="11"></lv-select>
                                            </div>
                                            <div class="pos_item">
                                                <lv-select field="primaryDistrict" model="data.primaryDistrict" setting="setting" translation="translation" tab="12"></lv-select>
                                            </div>
                                        </div>
                                        <div class="box_02 col_2 clearfix mb_15">
                                            <div class="pos_item">
                                                <lv-input field="primaryCountry" element-id="primaryCountry" model="data.primaryCountry" setting="setting" translation="translation" change="" type="text" tab="13"></lv-input>
                                            </div>
                                            <div class="pos_item">
                                                <lv-input field="primaryEmail" element-id="primaryEmail" model="data.primaryEmail" setting="setting" translation="translation" change="" type="email" tab="13"></lv-input>
                                            </div>
                                        </div>
                                        <div class="box_02 col_1 clearfix">
                                            <div class="pos_item">
                                                <label>Mô tả khách hàng</label>
                                                <textarea ui-tinymce="tinymceNoResizeOptions" ng-model="data.note" tabindex="13"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                    <div class="box_content">
                                        <div class="w100 form-input-group">
                                            <div class="box_02 col_1 clearfix mb_15">
                                                <div class="pos_item">
                                                    <lv-input field="companyName" model="data.companyName" setting="setting" translation="translation" change="" type="text" tab="11"></lv-input>
                                                </div>
                                            </div>
                                            <div class="box_02 col_1 clearfix mb_15">
                                                <div class="pos_item">
                                                    <lv-input field="companyAddress" model="data.companyAddress" setting="setting" translation="translation" change="" type="text" tab="12"></lv-input>
                                                </div>
                                            </div>
                                            <div class="box_02 col_2 clearfix mb_15">
                                                <div class="pos_item">
                                                    <lv-input field="companyPhone" model="data.companyPhone" setting="setting" translation="translation" change="" type="text" tab="13"></lv-input>

                                                </div>
                                                <div class="pos_item">
                                                    <lv-input field="companyTaxCode" model="data.companyTaxCode" setting="setting" translation="translation" change="" type="text" tab="13"></lv-input>
                                                </div>
                                            </div>
                                            <div class="box_02 col_2 clearfix mb_15">
                                                <div class="pos_item" style="float: none">
                                                    <lv-input field="companyRepresentative" model="data.companyRepresentative" setting="setting" translation="translation" change="" type="text" tab="13"></lv-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button id="btnSaveContinue" ng-if="action=='add'" ng-click="saveAndContinue()()" type="button" class="btn btn_save_02" tabindex="13" click-Once><i class="bowtie-icon bowtie-save"></i><span ng-bind="::translation.BTN_SAVE_CONTINUE">Lưu & tiếp</span></button>
                    <button id="btnSaveClose" ng-click="save()" type="button" class="btn btn_save_03" tabindex="13" click-Once><i class="bowtie-icon bowtie-save"></i><span ng-bind="::translation.BTN_SAVE_CLOSE">Lưu & đóng</span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal_center confirmClose" style="" id="modal-detail-2">
        <div class="modal-dialog" style="width:400px">
            <div class="modal-content">
                <div class="modal-header">
                    <p style="font-size:16px;margin:0;line-height:1.9em;" class="float-left"><span ng-bind="subModal == 'type'? translation.TYPEID : translation.GROUPID"></span></p>
                    <div class="box_btn_02">
                        <!--<button type="button" class="fullscreen" onclick="fullscreen('modal-detail')"><i class="bowtie-icon bowtie-view-full-screen"></i></button>-->
                        <button type="button" class="btn_close_02" data-dismiss="modal"><i class="bowtie-icon bowtie-edit-remove"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-body-maincontent">
                        <div class="form-input-group">
                            <div class="box_02 col_1 clearfix mb_15">
                                <div class="pos_item short_label">
                                    <lv-input required="true" element-id="subName" field="codeSub" model="sub.code" setting="setting" translation="translation" type="text" tab="32" class="clearfix"></lv-input>
                                </div>
                            </div>
                            <div class="box_02 col_1 clearfix mb_15">
                                <div class="pos_item short_label">
                                    <lv-input required="true" field="nameSub" model="sub.name" setting="setting" translation="translation" type="text" tab="33" class="clearfix"></lv-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn_save_02" id="btnSave" ng-click="saveSub()" click-Once tabindex="34"><i class="fa fa-save"></i> <span ng-bind="globalTranslation.BTN_SAVE">Save</span></button>
                </div>
            </div>
        </div>
    </div>
</div>