<li id="btnRunSurvey">
    <a ng-click="runSurvey()" class="btn-small green">
        <i class="bowtie-icon bowtie-edit mr_5"></i>{{translation.BTN_RUN}}
    </a>
</li>
<li id="btnViewSurvey">
    <a ng-click="showSurveyResult()" class="btn-small green">
        <i class="bowtie-icon bowtie-row-child mr_5"></i>{{translation.BTN_RESULT}}
    </a>
</li>
<li id="btnSendMail">
    <a ng-click="runSurvey1()" class="btn-small green">
        <i class="bowtie-icon bowtie-mail-message mr_5"></i>{{translation.BTN_MAIL}}
    </a>
</li>